button {
  width: 150px;
  height: 50px;
  background-color: darkred;
  outline: none;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}
.buttons-block {
  display: block;
}
.buttons-block.close {
  display: none;
}